* {
    font-family: Helvetica !important;
}

.bg-hero-section {
    background-color: #f1f3ff;
}

.bg-primary-lime-green-04 {
    background-color: #5cb85f;
}

.primary-dark-blue-01 {
    background-color: #cfd4ed;
}

.bg-primary-dark-blue-04 {
    background-color: #0d28a6;
}

.bg-card-testimonial {
    background-color: #f1f3ff;
}

.border-top-left-5 {
    border-top-left-radius: 2rem;
}

.icon-check {
    width: 24px;
    height: 24px;
}

.text-primary-dark-blue-04 {
    color: #0d28a6;
}

.owl-dots {
    display: none;
}
@media only screen and (max-width: 768px) {
    .why-us {
        text-align: center;
    }

    .star {
        margin: auto;
    }

    #getting-started-section {
        margin: 1rem !important;
    }
}
.owl-prev,
.owl-next {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100% !important;
    border: 1px solid #c4c4c4 !important;
}
.owl-prev span,
.owl-next span {
    font-weight: bolder;
    font-size: xx-large;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #5cb85f !important;
}

#search {
    margin-top: -3rem;
}

.rs-picker-toggle-active,
.rs-picker.rs-picker-focused,
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    -webkit-box-shadow: inset 0 0 0 1px #5cb85f;
    box-shadow: inset 0 0 0 1px #5cb85f;
}
.rs-picker-select-menu-item.rs-picker-select-menu-item-active,
.rs-picker:not(.rs-picker-disabled):hover,
.rs-picker.rs-picker-focused,
.rs-picker-menu
    .rs-calendar
    .rs-calendar-table-cell:hover
    .rs-calendar-table-cell-content,
.rs-picker-select-menu-item:hover,
.rs-picker-select-menu-item:focus,
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus {
    background-color: rgba(92, 184, 95, 0.187);
    background-image: linear-gradient(#c9e7ca 20%, #c9e7ca 90%);
    color: #5cb85f;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active,
.rs-input-group:not(.rs-input-group-disabled):hover,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within,
.rs-picker:not(.rs-picker-disabled):hover,
.rs-picker.rs-picker-focused {
    border-color: #5cb85f;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content,
.rs-btn-primary,
.rs-btn-primary:hover,
.rs-btn-primary:focus {
    background-color: #5cb85f;
    color: #c9e7ca;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: #3c3c3c;
}

.rs-input-group:not(.rs-input-group-disabled):hover,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within,
.rs-theme-high-contrast .rs-calendar-time-dropdown-cell:hover {
    outline: #5cb85f;
}
