* {
    font-family: Helvetica !important;
}

.bg-hero-section {
    background-color: #f1f3ff;
}

.bg-primary-lime-green-04 {
    background-color: #5cb85f;
}

.primary-dark-blue-01 {
    background-color: #cfd4ed;
}

.bg-primary-dark-blue-04 {
    background-color: #0d28a6;
}

.bg-card-testimonial {
    background-color: #f1f3ff;
}

.border-top-left-5 {
    border-top-left-radius: 2rem;
}

.icon-check {
    width: 24px;
    height: 24px;
}

.text-primary-dark-blue-04 {
    color: #0d28a6;
}

.owl-dots {
    display: none;
}

@media only screen and (max-width: 768px) {
    .why-us {
        text-align: center;
    }

    .star {
        margin: auto;
    }

    #getting-started-section {
        margin: 1rem !important;
    }
}

.owl-prev,
.owl-next {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100% !important;
    border: 1px solid #c4c4c4 !important;
}

.owl-prev span,
.owl-next span {
    font-weight: bolder;
    font-size: xx-large;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #5cb85f !important;
}

.form-control:focus {
    border-color: #5cb85f !important;
    box-shadow: 0 0 0 0.25rem rgba(92, 184, 95, 0.651) !important;
    color: rgb(0, 0, 0) !important;
}

#search {
    margin-top: -5rem;
}

.chosen-container {
    font-size: 1rem !important;
    width: 100% !important;
}

.chosen-container-single .chosen-single {
    padding: 0.5rem 0.5rem 2rem;
    color: #8a8a8a;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #5cb85f;
}

.chosen-results {
    border-top: 1px solid #5cb85f;
}

.chosen-container-active .chosen-single {
    color: #3c3c3c;
    border: 1px solid #5cb85f;
}

.chosen-container .chosen-results li.highlighted {
    /* background-image: url(../images/svg/wib.svg) !important; */
    /* background-position: center; */
    background-color: rgba(92, 184, 95, 0.187);
    background-image: linear-gradient(#c9e7ca 20%, #c9e7ca 90%);
    color: #5cb85f;
}

.chosen-container .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container .chosen-results li {
    padding: 0.5rem;
}

.chosen-container-single .chosen-single div,
.chosen-container-single .chosen-single div {
    width: 15%;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    width: 15%;
}

.chosen-container-single .chosen-single div b {
    background: url(../images/svg/chevron-down.svg) no-repeat 0 12px;
    background-position: center center;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url(../images/svg/chevron-up.svg) no-repeat 0 12px;
    background-position: center center;
}

#waktu_booking_chosen > a > div > b {
    background: url(../images/svg/fi_clock.svg) no-repeat 0 12px;
    background-position: center center;
    background-size: 20px 20px !important;
}

.ui-widget-content .ui-state-active {
    border: 1px solid #5cb85f;
    background: rgba(92, 184, 95, 0.651);
    color: #fff;
}

.form-select {
    padding: 1.3rem 0.5rem;
    height: 25px;
    border: 1px solid #aaa;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(20%, #fff),
        color-stop(50%, #f6f6f6),
        color-stop(52%, #eee),
        to(#f4f4f4)
    );
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 24px;
}

.form-select#tanggal_ambil {
    background-image: url("../images/svg/fi_calendar_stroke.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 20px 20px;
}

.form-select#jumlah_penumpang {
    background-image: url("../images/svg/fi_users_stroke.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 20px 20px;
}
