* {
    font-family: Helvetica !important;
}

.bg-hero-section {
    background-color: #f1f3ff;
}

.bg-primary-lime-green-04 {
    background-color: #5cb85f;
}

.primary-dark-blue-01 {
    background-color: #cfd4ed;
}

.bg-primary-dark-blue-04 {
    background-color: #0d28a6;
}

.bg-card-testimonial {
    background-color: #f1f3ff;
}

.border-top-left-5 {
    border-top-left-radius: 2rem;
}

.icon-check {
    width: 24px;
    height: 24px;
}

.text-primary-dark-blue-04 {
    color: #0d28a6;
}

.owl-dots {
    display: none;
}

@media only screen and (max-width: 768px) {
    .why-us {
        text-align: center;
    }

    .star {
        margin: auto;
    }

    #getting-started-section {
        margin: 1rem !important;
    }
}

.owl-prev,
.owl-next {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100% !important;
    border: 1px solid #c4c4c4 !important;
}

.owl-prev span,
.owl-next span {
    font-weight: bolder;
    font-size: xx-large;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #5cb85f !important;
}
